@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: #3b3b3b;
}
#fotoPerfil img{
    border-radius: 50%;
    max-width: 250px;
}
#fotoPerfil{
    padding-top: 40px;
}
#titulo h1{
    color: #3b3b3b;
    font-family: 'Bebas Neue', cursive;
}
#titulo h1 span{
    color: #00e342;
}
#descripcion{
    font-family: 'Verdana', cursive;
}